:root {
    --blue: #87CEEB; /*Primary Background*/
    --dark-blue: #1e82c4;
    --cream: rgb(250, 240, 230); /*Accents, Buttons, Highlights*/
    --gray: #89939E; /*Text And Boarders*/
    --gold: #FFDc00; /*Headings or Icons*/
    --dark-gold: #E4C400;

    --lavender: #E6E6FA; /*warmer call to action button*/
    --green: #98FB98; /*Contrast where needed*/
}

* {
margin: none;
padding: none;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

/* border: 1px solid black; */

}

body {
    /* background: linear-gradient(28deg, rgb(66, 68, 71), rgb(168, 169, 171) 30%); */
    /* margin-left: 10%;
    margin-right: 10%; */
    /* margin: auto; */
    background-color: #1e82c4;
    /* background-color: var(--blue); */

    /* border: 1px solid black; */
    /* border-radius: 15px; */
}

.page {
    /* background: linear-gradient(rgb(91, 109, 213), rgb(147, 170, 212), rgb(51, 76, 222)); */
    /* position: relative; */
    background-color: var(--dark-blue);
    margin: 1% 3% 0 3%;
    padding-bottom: 5rem;
    border-radius: 15px;
    text-align: center;
    /* border: 10px groove var(--blue); */
}


h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    color: black;
    /* color: rgb(230, 234, 241); */
    font-weight: 10px;
    text-decoration: underline;
    margin: 0;
    padding: 2rem;
    /* border-radius: 15px 15px 0 0; */
    border-bottom: 3px solid var(--gray);
}

p {
    color: black;
    /* text-decoration: underline; */
    /* border-bottom: 1px solid black; */
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}


.menu-btn-container {
    position: sticky;
    left: 2rem;
    top: 1rem;
    margin-left: 1rem;
    z-index: 99;
}

.menu-btn {
    position: sticky;
    z-index: 4;
}

.menu-btn:hover {
    cursor: pointer;
}

/* .menu-btn-container:active {
    border: var(--dark-gold);
} */

.menu {
    position: absolute;
    top: 0;
    left: -25%;
    height: 100%;
    width: 25rem;
    color: black;
    /* background-color: rgb(249, 249, 230); */
    background-color: rgb(250, 231, 231);
    border: 5px double var(--dark-blue);
    box-shadow: 5px 5px 10px #424242;
    transition: left 1s ease ;
}

.menu-title {
    font-size: 3.5rem;
    letter-spacing: 2px;
    /* font-family:'Allura', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:serif;
    background-color: var(--dark-blue);
    color: var(--dark-gold);
    text-decoration: none;
}

.nav-link {
    cursor: pointer;
    font-size: 2.7rem;
    font-weight: bold;
    margin: 5rem 0;
    list-style: square;
}

.nav-link:hover {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
}

.logo {
    width: 100%;
    background-color: rgba(250, 240, 230, 0.925);
    height: 40rem;
    padding: 4rem;
    object-fit: contain;
    border-radius: 5rem;
    border: 8px solid black;
    grid-column: span 2;
    box-sizing: border-box;
}

.logo-box {
    background-image: url('Pictures/Music-Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 40rem;
    border-radius: 5rem;
    background-color: var(--cream);
    margin: 5rem auto;
    box-shadow: 5px 5px 10px #424242;
    /* position:; */
    /* border: 1px solid black; */
}

.shuffle-box {
    /* padding: 5rem; */
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
    justify-items: center;
    /* border: 1px solid black; */
}

.shuffle {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    padding: 3rem;
}

.shuffle-btn {
    height: 5rem;
    width: 22rem;
    border-radius: 15px;
    margin: .1rem auto;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid black;
    background-color: var(--cream);
    /* background: linear-gradient(var(--lavender), var(--gray)); */
}

.shuffle-btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--dark-gold);
}

.shuffle-btn:active {
    /* background-color: rgb(6, 6, 82) */
    transform: translate(0.2%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

hr {
    border: 1px solid black;
}

.result {
    background-color: var(--cream);
    /* background: linear-gradient(225deg, rgb(6, 6, 82), rgb(21, 29, 146)); */
    border-radius: 15px;
    border: 8px double black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    /* padding: 0.5rem; */
    box-shadow: 5px 5px 10px #424242;
    
    /* border: 2px solid black; */
}

.result5 {
    /* background: linear-gradient(135deg, rgb(6, 6, 82), rgb(21, 29, 146)); */
    background-color: var(--cream);
    border-radius: 15px;
    border: 8px double black;
    width: 50%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px #424242;
    
    /* border: 2px solid black; */
}

.result-img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    padding: 0 3rem;
    border-right: 3px solid var(--gold);
}

.info-box {
    color: white;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
    grid-column: span 3;
}

.previous {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.result-six {
    border: 1px solid black;
    /* background-color: rgb(240, 230, 165); */
    background-color: white;
    border-radius: 15px;
    width: 50%;
    margin: 0 auto;
}

.one {
    
}

.two {
    
}

.three {
    
}

.four {
    
}

.five {
    grid-column: span 2;
}

.prev-result {
    /* background: linear-gradient(rgb(6, 6, 82), rgb(21, 29, 146), rgb(20, 28, 101)); */
    background-color: var(--cream);
    border-radius: 15px;
    border: 8px double black;
    padding: 1rem;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    /* padding: 0.5rem; */
    box-shadow: 5px 5px 10px #424242;
}

.interaction {
    display: flex;
    align-content: space-between;
    margin-top: 2rem;
}

.interaction-btn {
    margin: auto;
    height: 3rem;
    width: 15rem;
    border-radius: 10%;
    font-weight: bold;
    /* background-color: var(--blue); */
    background: linear-gradient(var(--lavender), var(--gray));
    /* background-color:rgb(193, 193, 228); */
}

.interaction-btn:hover {
    background-color: var(--gold);
    color: white;
}

.hidden {
    /* content-visibility: hidden; */
    display: none;
}

.song-list {
    border: solid 1px black;
    margin-top: 1rem;
    border-radius: 15px;
    background-color: rgb(214, 227, 229);
    padding: 1rem;
}

.song-list-child {
    text-align: left;
}

footer {
    height: 10rem;
    text-align: center;
    width: 100%;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    background: rgb(14, 39, 71);
}

footer > p {
    color: rgb(87, 87, 87);
    font-size: .8rem;
    margin: auto 0;
}

footer a {
    color: #67789c;

}

footer a:visited {
    color: #67789c;
}